

/* .carousel-item {
    height: 600px;
}

#loginblog{
  color: black;

}

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
 */
/*| Navigation |*/

.carousel-item {
  height: 600px;
}

/* #nav1{
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
}
  #nav1 #ul1{
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
  }
    #nav1 #ul1 #li1{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    #nav1 #ul1 #li1 :hover{background: rgba(0,0,0,.15);}
    #nav1 #ul1 #li1 :hover > #ul1{display: block;}
    #nav1 #ul1 #li1{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      #nav1 #ul1 #li1 #a1{
        display: block;
        padding: 30px 20px;
        color: #222;
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      #nav1 #ul1 #ul1{
        display: none;
        background: #fff;
        position: absolute;
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }
        #nav1 #ul1 #ul1 #li1{float: none; position: relative;}
          #nav1 #ul1 #ul1 #li1 #a1 {
            padding: 15px 30px;
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          #nav1 #ul1 #ul1 #ul1 {
            position: absolute;
            left: 100%;
            top:0;
          } */

/* #carouselExampleControls{
  position: fixed;
  top: 160px;
  left: 0;
  width: 100%;
}
 */