
*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*| Navigation |*/

#nav1{
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
}
  #nav1 #ul1{
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
  }
    #nav1 #ul1 #li1{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    #nav1 #ul1 #li1 :hover{background: rgba(0,0,0,.15);}
    #nav1 #ul1 #li1 :hover > #ul1{display: block;}
    #nav1 #ul1 #li1{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      #nav1 #ul1 #li1 #a1{
        display: block;
        padding: 30px 20px;
        color: #222;
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      #nav1 #ul1 #ul1{
        display: none;
        background: #fff;
        position: absolute;
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }
        #nav1 #ul1 #ul1 #li1{float: none; position: relative;}
          #nav1 #ul1 #ul1 #li1 #a1 {
            padding: 15px 30px;
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          #nav1 #ul1 #ul1 #ul1 {
            position: absolute;
            left: 100%;
            top:0;
          }

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html {
	font: normal 16px Raleway;
	color:#555;
}

ul, nav {
	list-style:none;

}

a {
	text-decoration:none;
	opacity:0.75;
	color:#fff;
}

a:hover {
	opacity:1;
}

@keyframes fadeIn {
	100% {
		opacity:1;
	}
}



section {
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding: 100px 80px;
}



@media (max-width:800px) {
	section {
		padding:50px 20px;;
	}
}



.grid {
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

hr {
	width:250px;
	height:3px;
	background-color:#e3b602;
	border:0;
	margin:50px;
}

section h3.title {
	text-transform:capitalize;
	font: bold 32px Raleway;
	margin-bottom:30px;
	text-align:center;
}

section p {
	max-width:775px;
	line-height:2;
	padding: 0 20px;
	margin-bottom:30px;
	text-align:center;
}

.destinations .grid li {
	height:350px;
	padding:10px;
	background-clip:content-box;
	background-size:cover;
	background-position:center;
}

.destinations .grid li.small {
	flex-basis:30%;
}

.destinations .grid li.large {
	flex-basis:70%;
}

@media (max-width:1100px) {
	.destinations .grid li.small,
	.destinations .grid li.large {
		flex-basis:50%;
	}
}

@media (max-width:800px) {
	.destinations .grid li.small,
	.destinations .grid li.large {
		flex-basis:100%;
	}
}
